apiVersion: v1
kind: ServiceAccount
metadata:
  name: jenkins
  namespace: devops-tools
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::134448505602:role/custom-code-artifact-role
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: jenkins
  namespace: devops-tools
rules:
  - apiGroups: ["*"]
    resources: ["*"]
    verbs: ["*"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: jenkins
  namespace: devops-tools
subjects:
  - kind: ServiceAccount
    name: jenkins
    namespace: devops-tools
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: jenkins
